body{
    margin: 0px;
}


h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 330px;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

body{
    background-color: rgb(25, 25, 25);
}
.main1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h4{
    margin-bottom: 53px;
}

*
  .h4 {
    background: linear-gradient(19deg, #c8ff00 0%, #ffd900 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
  }

  .h5 {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }
  
  .h6 {
    background: linear-gradient(19deg, #00ffd0 0%, #00c8ff 70%, rgb(81, 77, 155) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
  }

  .button1{
    padding-left: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 75px ;
    background-color: rgb(25, 25, 25);
    border-color:  greenyellow;
    border-style: solid;
    border-radius: 100px;
    margin-left: 640px;
    color: white;
    font-weight: bold;
    border-width: 2px;
    margin-top: 25px;
    font-size: 20px;
    transition: background-color 0.5s;

  }

  .button1:hover{
    background-color: rgba(198, 178, 27, 0.775);
    color: rgb(255, 255, 255);
  }

  .button1:active{
    background-color: rgb(60, 55, 16);
    color: rgb(255, 255, 255);
  }

  .css{
    padding-left: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 75px ;
    background-color: rgb(25, 25, 25);
    border-color:  greenyellow;
    border-style: solid;
    border-radius: 100px;
    margin-left: 640px;
    color: white;
    font-weight: bold;
    border-width: 2px;
    margin-top: 70px;
    font-size: 20px;
    transition: background-color 0.5s;

  }

  .css:hover{
    background-color: rgb(198, 178, 27);
    color: rgb(255, 255, 255);
    rgba(198, 178, 27, 0.775);
  }

  .css:active{
    background-color: rgb(60, 55, 16);
    color: rgb(255, 255, 255);
  }

  